.logo__link {
  display: flex;
  align-items: center;
  height: 44px;
  text-decoration: none;
}

.logo__link:hover {
  text-decoration: none;
}

.logo__text {
  margin-left: 24px;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #333;
}
